/*
Theme Name: Unbuilt
Author: Grisha Pushkov
Version: 1.0
*/

/* <global> */
* {
  box-sizing: border-box;
}

html {
  font-family: 'Mermaid', serif;
  color: #2d2d2d;
}

body {
  margin: 0;
  padding: 27px 15px;
}

@media (min-height: 648px) {
  body {
    padding-top: calc((100vh - 594px) / 2);
    padding-bottom: calc((100vh - 594px) / 2);
  }
}

img, video {
  max-width: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: inherit;
}

input, textarea {
  border: 0;
  padding: 0;
  border-radius: 0;
  background-color: transparent;
  border-bottom: 2px solid;
  width: 100%;
  font-size: 20px;
  font-family: inherit;
  resize: none;
}

::-webkit-input-placeholder { color: inherit }
::-moz-placeholder { color: inherit }
:-ms-input-placeholder { color: inherit }
:-moz-placeholder { color: inherit }

input:focus, textarea:focus {
  outline: none;
}

input {
  padding-bottom: 5px;
}

h3 {
  font-size: 21px;
  margin-bottom: 0.4em;
  margin-top: 0;
}

p {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
  line-height: 1.15;
}

.g-container {
  position: relative;
  max-width: 1188px;
  margin: auto;
  padding: 33px;
  padding-top: 11px;
  background-image: url('images/background.png');
  background-size: 33px;
  background-position: 0 0;
}

.g-container:before {
  content: '';
  position: absolute;
  left: -3px;
  top: -3px;
  right: -3px;
  bottom: -3px;
  border: 3px solid #E8E8E8;
  z-index: -1;
}

.g-button {
  display: inline-block;
  transition: background-color 0.2s;
  white-space: nowrap;
  background-color: #2d2d2d;
  border: 0;
  color: white;
  padding: 10px 10px 6px 10px;
  cursor: pointer;
  font-family: inherit;
  outline: none;
  border-radius: 0;
}

.g-button:hover {
  color: white;
  background-color: #cb0709;
}

.g-button-transparent {
  border: 0;
  background-color: transparent;
  border: 3px solid;
  font-family: inherit;
  cursor: pointer;
  font-size: 20px;
  padding: 7px 15px 3px 15px;
  outline: none;
  border-radius: 0;
}

.g-button-transparent:active {
  color: inherit;
}

.g-button-rounded {
  display: inline-block;
  transition: background-color 0.2s;
  white-space: nowrap;
  color: white;
  background-color: #cb0709;
  border: 0;
  cursor: pointer;
  font-family: inherit;
  border-radius: 5px;
  outline: none;
  font-size: 21px;
  padding: 6px 23px;
  border-radius: 0;
}

.g-form-row {
  display: flex;
  justify-content: space-between;
}

.g-form-control {
  display: block;
  margin-bottom: 30px;
}
  
.g-form-control-half {
  width: 43.7%;
}

.g-form-label {
  font-size: 19px;
  padding-bottom: 15px;
}

.g-hidden {
  display: none !important;
}

.g-overflow-hidden {
  overflow: hidden !important;
}

body.browser-firefox .g-container {
  background-size: 33px 35.5px;
}

@media (min-width: 1600px) {
  .g-container {
    transform: scale(1.25);
  }
}

@media (min-width: 2200px) {
  .g-container {
    transform: scale(1.7);
  }
}

@media (min-width: 2500px) {
  .g-container {
    transform: scale(1.9);
  }
}

@media (max-width: 480px) {
  body {
    padding: 0;
  }
  
  .g-container:before {
    content: none;
  }
}

@media (max-width: 400px) {
  .g-container {
    padding-left: 0;
    padding-right: 0;
  }
}
/* </global> */

/* <font> */
@font-face {
  font-family: 'Mermaid';
  src: url('fonts/mermaid.woff') format('woff'),
       url('fonts/mermaid.svg#Mermaid') format('svg'),
       url('fonts/mermaid.eot'),
       url('fonts/mermaid.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}
/* </font> */

/* <header> */
.header {
  display: flex;
  border-bottom: 3px solid;
}

.header__container {
  padding-left: 13px;
  padding-top: 18px;
  width: calc(100% - 86px);
}

.header__logo {
  padding-left: 16px;
}

.header__logo img {
  height: 80px;
}

.header__top {
  display: flex;
  border-bottom: 3px solid;
}

.header__bottom {
  display: flex;
  height: 31px;
  line-height: 36px;
}

.header__navigation {
  flex-grow: 1;
  text-align: right;
  padding-top: 14px;
}

.header__banner {
  position: relative;
  text-align: center;
  flex-grow: 1;
  white-space: nowrap;
  padding-left: 13px;
  padding-right: 13px;
  overflow: hidden;
  cursor: pointer;
}

.header__company-name {
  position: relative;
  font-size: 32px;
  padding-top: 3px;
  transition: color 0.2s;
  top: 3px;
}

.header__company-name:hover {
  color: #cb0709;
}

.header__caption {
  width: 22.7%;
  font-size: 20px;
  border-right: 3px solid;
  padding-right: 13px;
  flex-shrink: 0;
  white-space: nowrap;
  text-align: right;
}

.header__link {
  font-size: 21px;
  margin: 0 6.5px;
  transition: color 0.2s;
}

.header__link:hover {
  color: #cb0709;
}

.header__menu-toggle {
  display: none;
}

.header__banner span {
  display: inline-block;
  overflow: hidden;
}

.header__banner span:nth-child(2),
.header__banner span:nth-child(3) {
  display: none;
}

@media (max-width: 1024px) {
  .header__banner span:nth-child(1) {
    display: none;
  }
  
  .header__banner span:nth-child(2) {
    display: block;
  }
}

@media (max-width: 1000px) {
  .header__caption {
    font-size: 16px;
  }
}

@media (max-width: 860px) {
  .header__navigation {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: white;
    z-index: 1;
  }
  
  .header__navigation.show {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .header__navigation a {
    margin-top: 30px;
    font-size: 7vh;
  }
  
  .header__caption {
    width: auto;
  }
  
  .header__menu-toggle {
    display: block;
    padding-top: 14px;
    flex-grow: 1;
    text-align: right;
  }
  
  .header__navigation .header__menu-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
    margin-top: 0;
    padding-top: 0;
  }
  
  .header__navigation .header__menu-toggle svg {
    width: 35px;
    height: 35px;
  }
}

@media (max-width: 600px) {
  .header__caption {
    display: none;
  }
  
  .header__logo {
    padding-top: 24px;
    padding-left: 12px;
  }
  
  .header__logo img {
    height: 50px;
  }
  
  .header__company-name {
    font-size: 22px;
    padding-top: 10px;
  }
  
  .header__container {
    padding-left: 11px;
    padding-top: 18px;
    width: calc(100% - 49px);
  }
  
  .header__banner span:nth-child(2) {
    display: none;
  }
  
  .header__banner span:nth-child(3) {
    display: block;
  }
}
/* </header> */

/* <page-index> */
.page-index .header__link-page-index {
  color: #cb0709;
}

.page-index .container {
  display: flex;
  justify-content: space-between;
  height: 460px;
}

.page-index .content {
  position: relative;
  overflow: hidden;
  margin-top: 31px;
  flex-shrink: 0;
  width: 70.6%;
}

.page-index .content .media-loader {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
}

.page-index .content .media-loader video {
  display: block;
  top: auto;
}

.page-index .sidebar {
  position: relative;
  width: 26.6%;
  border-left: 3px solid;    
  height: 100%;
}

.page-index .sidebar-content {
  padding-top: 25px;
  padding-left: 15px;
  padding-right: 15px;
  height: calc(100% - 134px);
  overflow: auto;
}

.page-index .sidebar-content img {
  display: none;
}

.page-index .sidebar-content h3 {
  line-height: 1.3;
}

.page-index .sidebar-content p {
  font-size: 14px;
}

.page-index .links {
  display: flex;
  border-top: 3px solid;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 134px;
}

.page-index .link-container {
  font-size: 20px;
  text-align: center;
}

.page-index .link-container p {
  font-size: 14px;
}

.page-index .link-container:first-child {
  color: #cb0709;
  border-right: 3px solid #2d2d2d;
  width: 55.9%;
}

.page-index .link-container:last-of-type {
  width: 44.1%;
}

@media (max-width: 1188px) {
  .page-index .container {
    height: auto;
    display: block;
  }
  
  .page-index .content {
    width: auto;
    float: right;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  
  .page-index .content .media-loader {
    position: static;
    width: 40vw;
  }
  
  .page-index .content video {
    position: static;
  }
  
  .page-index .sidebar {
    border-left: 0;
    width: auto;
  }
  
  .page-index .links {
    position: static;
    margin-top: 25px;
    height: auto;
  }
  
  .page-index .link-container p {
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
  }
}

@media (max-width: 900px) {
  .page-index .sidebar-content {
    overflow: visible;
    padding-left: 9px;
    padding-right: 9px;
  }
}

@media (max-width: 680px) {
  .page-index .content {
    display: none;
  }
  
  .page-index .sidebar-content img {
    display: block;
    width: 100%;
    height: auto;
  }
  
}
/* </page-index> */

/* <page-about> */
.page-about .header__link-page-about {
  color: #cb0709;
}

.page-about .container {
  display: flex;
  justify-content: space-between;
  height: 460px;
}

.page-about .content {
  padding-top: 15px;
  width: 59.8%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page-about .container-left {
  width: 73.4%;
}

.page-about .container-right {
  height: 100%;
  width: 26.6%;
}

.page-about .feature {
  padding-top: 18px;
  padding-bottom: 0;
  padding-left: 21px;
  padding-right: 21px;
  border-bottom: 3px solid;
}

.page-about .feature-animation {
  padding-top: 16px;
}

.page-about .sidebar-right .feature {
  border-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.page-about .feature-icon {
  float: right;
  width: 75px;
  height: 75px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 10px;
}

.page-about .feature-right .feature-icon {
  float: left;
}

.page-about .feature p {
  margin-bottom: 12px;
}

.page-about .feature-right {
  text-align: right;
  padding-right: 21px;
}
  
.page-about .container-left-top {
  display: flex;
}

.page-about .sidebar-left {
  position: relative;
  width: 40.2%;
  flex-shrink: 0;
  border-right: 3px solid;    
  border-bottom: 3px solid;    
}

.page-about .sidebar-left .sidebar-content {
  padding-top: 33px;
  padding-left: 9px;
  padding-right: 21px;
  height: 100%;
  overflow: auto;
  height: 360px;
}

.page-about .sidebar-right {
  position: relative;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  border-left: 3px solid;    
}

.page-about .sidebar-right .sidebar-content {
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 9px;
  height: calc(100% - 134px);
  overflow: auto;
}

.page-about .clients-banner {
  overflow: hidden;
  padding-top: 35px;
  white-space: nowrap;
}

.page-about .clients-banner-content {
  width: 1940px;
  text-align: center;
}

.page-about .clients-banner-content img {
  margin: 0px 20px;
  height: 25px;
}

.page-about .links {
  display: flex;
  border-top: 3px solid;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 134px;
}

.page-about .link-container {
  font-size: 20px;
  text-align: center;
}

.page-about .link-container p {
  font-size: 14px;
}

.page-about .link-container:first-child {
  color: #cb0709;
  border-right: 3px solid #2d2d2d;
  width: 55.9%;
}

.page-about .link-container:last-of-type {
  width: 44.1%;
}

@media (max-width: 1188px) {
  .page-about .container {
    height: auto;
    display: block;
    max-width: 700px;
    margin: auto;
  }
  
  .page-about .container-left {
    width: 100%;
  }
  
  .page-about .container-left-top {
    flex-wrap: wrap;
  }
  
  .page-about .sidebar-left {
    width: 100%;
    border-right: 0;
  }
  
  .page-about .sidebar-left .sidebar-content {
    height: auto;
    padding-bottom: 10px;
    padding-right: 9px;
  }
  
  .page-about .content {
    padding-top: 0;
    width: 100%;
  }
  
  .page-about .container-right {
    width: 100%;
  }
  
  .page-about .container-left-bottom {
    display: none;
  }
  
  .page-about .sidebar-right {
    border-left: 0;
  }
  
  .page-about .links {
    height: auto;
    position: static;
    margin-top: 15px;
  }
  
  .page-about .link-container p {
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
  }
  
  .page-about .feature {
    padding-left: 9px;
    padding-right: 9px;
  }
  
  .page-about .sidebar-right .sidebar-content {
    padding-top: 0;
    padding-left: 9px;
  }
}
/* </page-about> */

/* <page-contact> */
.page-contact .header__link-page-contact {
  color: #cb0709;
}

.page-contact .container {
  display: flex;
  justify-content: space-between;
  height: 460px;
}

.page-contact .content {
  padding-top: 32px;
  width: 70.6%;
  flex-shrink: 0;
  padding-left: 9px;
}

.page-contact .content p {
  font-size: 24px;
  line-height: 1.4;
}

.page-contact .content img {
  display: block;
}

.page-contact .sidebar {
  position: relative;
  width: 26.6%;
  border-left: 3px solid;    
}

.page-contact .links {
  display: flex;
  height: 134px;
  border-top: 3px solid;
}

.page-contact .link-container {
  font-size: 20px;
  text-align: center;
}

.page-contact .link-container p {
  font-size: 14px;
}

.page-contact .link-container:first-child {
  color: #cb0709;
  border-right: 3px solid #2d2d2d;
  width: 55.9%;
}

.page-contact .link-container:last-of-type {
  width: 44.1%;
}

.page-contact .map-container {
  height: 326px;
}

.page-contact .form {
  margin-top: 17px;
}

.page-contact label.g-form-control {
  margin-top: 11px;
}

.page-contact textarea {
  height: 90px;
}

.page-contact .form-submit {
  text-align: center;
  margin-top: 56px;
}

@media (max-width: 1188px) {
  .page-contact .container {
    height: auto;
  }
    
  .page-contact .content {
    width: calc(100% - 300px - 35px);
  }
  
  .page-contact .sidebar {
    min-width: 300px;
  }
  
  .page-contact .links {
    position: absolute;
    bottom: 0;
  }
}

@media (max-width: 900px) {
  .g-form-row {
    flex-wrap: wrap;
  }
  
  .g-form-control-half {
    width: 100%;
  }
  
  .page-contact .form-submit {
    margin-top: 10px;
  }
}

@media (max-width: 700px) {
  .page-contact .container {
    flex-wrap: wrap;
  }
  
  .page-contact .sidebar {
    order: -1;
    width: 100%;
    border-left: 0;
    margin-top: 31px;
  }
  
  .page-contact .map-container {
    height: 200px;
  }
  
  .page-contact .content {
    width: 100%;
    padding-left: 9px;
    padding-right: 9px;
  }
  
  .page-contact .links {
    display: none;
  }
}
/* </page-contact> */

/* <page-faq> */
.page-faq .header__link-page-faq {
  color: #cb0709;
}

.page-faq .container {
  display: flex;
  justify-content: space-between;
  height: 460px;
}

.page-faq .content {
  padding-top: 32px;
  width: 70.6%;
  flex-shrink: 0;
  padding-left: 9px;
}

.page-faq .item {
  margin-bottom: 25px;
}
  
.page-faq .content p {
  margin-top: 0;
  font-size: 20px;
}

.page-faq .content p:first-child {
  margin-bottom: 2px;
}

.page-faq .content p:last-child {
  margin-top: 0;
}

.page-faq .content-scroll {
  height: 100%;
  overflow: auto;
  padding-right: 10px;
}

.page-faq .sidebar {
  position: relative;
  width: 26.6%;
  border-left: 3px solid;    
}

.page-faq .sidebar-content {
  padding-top: 33px;
  padding-left: 15px;
  height: calc(100% - 134px);
  overflow: auto;
}

.page-faq .links {
  display: flex;
  border-top: 3px solid;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 134px;
}

.page-faq .link-container {
  font-size: 20px;
  text-align: center;
}

.page-faq .link-container p {
  font-size: 14px;
}

.page-faq .link-container:first-child {
  color: #cb0709;
  border-right: 3px solid #2d2d2d;
  width: 55.9%;
}

.page-faq .link-container:last-of-type {
  width: 44.1%;
}

.page-faq .item-letter {
  font-size: 27px;
}
/* </page-faq> */

/* <page-featured> */
.page-featured .header__link-page-featured {
  color: #cb0709;
}

.page-featured .container {
  display: flex;
  justify-content: space-between;
  height: 460px;
}

.page-featured .content {
  padding-top: 31px;
  width: 70.6%;
  flex-shrink: 0;
  height: 100%;
}

.page-featured .gallery {
  display: flex;
  height: 100%;
  overflow: hidden;
}

.page-featured .gallery a {
  display: block;
  margin-bottom: 4px;
  margin-right: 4px;
}

.page-featured .media-loader__loader {
  display: none !important;
}

.page-featured .gallery .media-loader__image-background {
  background-size: cover;
  background-position: bottom right;
  background-repeat: no-repeat;
}

.page-featured .gallery .column a:last-child {
  margin-bottom: 0;
}

.page-featured .gallery .column:last-child a {
  margin-right: 0;
}

.page-featured .column {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 100%;
}

.page-featured .column-2 a {
  height: 50%;
}

.page-featured .column-3 a {
  height: 33.33%;
}

.page-featured .column-4 a {
  height: 25%;
}

.page-featured .sidebar {
  position: relative;
  width: 26.6%;
  border-left: 3px solid;    
}

.page-featured .sidebar-content {
  padding-top: 33px;
  padding-left: 15px;
  height: calc(100% - 134px);
  overflow: auto;
}

.page-featured .links {
  display: flex;
  border-top: 3px solid;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 134px;
}

.page-featured .link-container {
  font-size: 20px;
  text-align: center;
}

.page-featured .link-container p {
  font-size: 14px;
}

.page-featured .link-container:first-child {
  color: #cb0709;
  border-right: 3px solid #2d2d2d;
  width: 55.9%;
}

.page-featured .link-container:last-of-type {
  width: 44.1%;
}

body.browser-safari.page-featured .column-2 a:not(:last-child) {
  height: calc(50% - 4px);
}

body.browser-safari.page-featured .column-3 a:not(:last-child) {
  height: calc(33.33% - 4px);
}

body.browser-safari.page-featured .column-4 a:not(:last-child) {
  height: calc(25% - 4px);
}

@media (max-width: 1188px) {
  .page-featured .container {
    flex-wrap: wrap;
    height: auto;
  }
  
  .page-featured .sidebar {
    order: -1;
    border-left: 0;
    width: 100%;
    display: flex;
  }
  
  .page-featured .content {
    width: 100%;
    border-top: 3px solid #2d2d2d;
  }
  
  .page-featured .gallery {
    height: 500px;
  }
  
  .page-featured .links {
    position: static;
    padding-top: 33px;
    height: auto;
    border-left: 3px solid #2d2d2d;
    border-top: 0;
    margin-left: 20px;
  }
  
  .page-featured .link-container:first-child {
    border-right: 0;
    margin-right: 20px;
    padding-left: 10px;
  }
  
  .page-featured .link-container p {
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
  }
  
  .page-featured .sidebar-content {
    height: auto;
    padding-bottom: 15px;
    padding-left: 9px;
    padding-right: 9px;
  }
}

@media (max-width: 850px) {
  .page-featured .links {
    display: block;
  }
  
  .page-featured .link-container p {
    display: none;
  }
  
  .page-featured .link-container {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .page-featured .links {
    border-left: 0;
  }
  
  .page-featured .link-container:first-child {
    width: 100%;
    margin-right: 0;
    padding-left: 0;
  }
    
  .page-featured .link-container:last-of-type {
    width: 100%;
  }
  
  .page-featured .link-container .g-button {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .page-featured .sidebar {
    display: block;
  }
  
  .page-featured .links {
    display: none;
  }
  
  .page-featured .gallery {
    height: auto;
    display: block;
  }
  
  .page-featured .column {
    width: 100%;
  }
  
  .page-featured .gallery a {
    height: 200px !important;
    margin: 0 !important;
    margin-bottom: 5px !important;
  }
}
/* </page-featured> */

/* <page-featured-project> */
.page-featured-project .header__link-page-featured {
  color: #cb0709;
}

.page-featured-project .container {
  display: flex;
  justify-content: space-between;
  height: 460px;
}

.page-featured-project .content {
  padding-top: 31px;
  width: 70.6%;
  flex-shrink: 0;
  height: 100%;
}

.page-featured-project .slider {
  display: block;
  position: relative;
  height: 100%;
  user-select: none;
}

.page-featured-project .image-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.75s;
  text-align: center;
  overflow: hidden;
}

.page-featured-project .media-loader__image-background {
  background-size: cover;
  background-position: bottom right;
  background-repeat: no-repeat;
}

.page-featured-project .image-container video {
  position: absolute;
  left: 0;
  bottom: 0;
  top: auto;
}

.page-featured-project .image-container.active {
  opacity: 1;
}

.page-featured-project .slider img {
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.page-featured-project .sidebar {
  position: relative;
  width: 26.6%;
  border-left: 3px solid;    
}

.page-featured-project .sidebar-content {
  padding-top: 33px;
  padding-left: 15px;
  height: calc(100% - 134px);
  overflow: auto;
}

.page-featured-project .links {
  display: flex;
  border-top: 3px solid;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 134px;
}

.page-featured-project .link-container {
  font-size: 20px;
  text-align: center;
}

.page-featured-project .link-container p {
  font-size: 14px;
}

.page-featured-project .link-container:first-child {
  color: #cb0709;
  border-right: 3px solid #2d2d2d;
  width: 55.9%;
}

.page-featured-project .link-container:last-of-type {
  width: 44.1%;
}

.page-featured-project .prev {
  position: absolute;
  top: 50%;
  margin-top: -24px;
  left: 10px;
  z-index: 1;
}

.page-featured-project .next {
  position: absolute;
  top: 50%;
  margin-top: -24px;
  right: 10px;
  z-index: 1;
}

.page-featured-project .back {
  position: absolute;
  left: 50%;
  margin-left: -24px;
  bottom: 20px;
  z-index: 1;
}

.page-featured-project .next,
.page-featured-project .prev,
.page-featured-project .back {
  opacity: 0;
  transition: opacity 0.2s;
}

.page-featured-project .slider:hover .next,
.page-featured-project .slider:hover .prev,
.page-featured-project .slider:hover .back {
  opacity: 0.75;
}

.page-featured-project .slider .next:hover,
.page-featured-project .slider .prev:hover,
.page-featured-project .slider .back:hover {
  opacity: 1;
}

.page-featured-project .content-video .next,
.page-featured-project .content-video .prev {
  display: none;
}

@media (max-width: 1188px) {
  .page-featured-project .container {
    height: auto;
    display: block;
  }
  
  .page-featured-project .next,
  .page-featured-project .prev {
    opacity: 1;
  }
  
  .page-featured-project .back {
    display: none;
  }
  
  .page-featured-project .content {
    width: 100%;
    height: calc(0.45 * 100vw + 31px);
  }
  
  .page-featured-project .sidebar {
    width: 100%;
    border-left: 0;
  }
  
  .page-featured-project .links {
    position: static;
    margin-top: 25px;
    height: auto;
  }
  
  .page-featured-project .link-container p {
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
  }
}

@media (max-width: 400px) {
  .page-featured-project .content {
    height: calc(0.55 * 100vw + 31px);
  }
}
/* </page-featured-project> */

/* <page-extended> */
.page-extended .header__link-page-extended {
  color: #cb0709;
}

.page-extended .container {
  display: flex;
  justify-content: space-between;
  height: 460px;
}

.page-extended .content {
  padding-top: 32px;
  width: 70.6%;
  flex-shrink: 0;
  height: 100%;
}

.page-extended .gallery {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.page-extended .item {
  width: calc(100% / 10);
  height: calc(100% / 6 + 1px);
  margin-top: -1px;
}

.page-extended .media-loader__image-background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.page-extended .media-loader__loader {
  display: none !important;
}

.page-extended .sidebar {
  position: relative;
  width: 26.6%;
  border-left: 3px solid;    
}

.page-extended .sidebar-content {
  padding-top: 33px;
  padding-left: 15px;
  height: calc(100% - 134px);
  overflow: auto;
}

.page-extended .links {
  display: flex;
  border-top: 3px solid;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 134px;
}

.page-extended .link-container {
  font-size: 20px;
  text-align: center;
}

.page-extended .link-container p {
  font-size: 14px;
}

.page-extended .link-container:first-child {
  color: #cb0709;
  border-right: 3px solid #2d2d2d;
  width: 55.9%;
}

.page-extended .link-container:last-of-type {
  width: 44.1%;
}

@media (max-width: 1188px) {
  .page-extended .container {
    flex-wrap: wrap;
    height: auto;
  }
  
  .page-extended .sidebar {
    order: -1;
    border-left: 0;
    width: 100%;
    display: flex;
  }
  
  .page-extended .content {
    width: 100%;
    border-top: 3px solid #2d2d2d;
  }
  
  .page-extended .gallery {
    height: 500px;
  }
  
  .page-extended .links {
    position: static;
    padding-top: 33px;
    height: auto;
    border-left: 3px solid #2d2d2d;
    border-top: 0;
    margin-left: 20px;
  }
  
  .page-extended .link-container:first-child {
    border-right: 0;
    margin-right: 20px;
    padding-left: 10px;
  }
  
  .page-extended .link-container p {
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
  }
  
  .page-extended .sidebar-content {
    height: auto;
    padding-bottom: 15px;
    padding-left: 9px;
    padding-right: 9px;
  }
}

@media (max-width: 850px) {
  .page-extended .gallery {
    height: auto;
  }
  
  .page-extended .item {
    width: calc(100% / 6);
    height: calc((100vw - 96px) / 6);
  }
  
  .page-extended .links {
    display: block;
  }
  
  .page-extended .link-container p {
    display: none;
  }
  
  .page-extended .link-container {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .page-extended .links {
    border-left: 0;
  }
  
  .page-extended .link-container:first-child {
    width: 100%;
    margin-right: 0;
    padding-left: 0;
  }
    
  .page-extended .link-container:last-of-type {
    width: 100%;
  }
  
  .page-extended .link-container .g-button {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .page-extended .sidebar {
    display: block;
  }
  
  .page-extended .links {
    display: none;
  }
}

@media (max-width: 480px) {
  .page-extended .item {
    width: calc(100% / 3);
    height: calc((100vw - 66px) / 3);
  }
}

@media (max-width: 400px) {
  .page-extended .item {
    width: calc(100% / 3);
    height: calc(100vw / 3);
  }
}
/* </page-extended> */

/* <page-extended-project> */
.page-extended-project .header__link-page-extended {
  color: #cb0709;
}

.page-extended-project .container {
  display: flex;
  justify-content: space-between;
  height: 460px;
}

.page-extended-project .content {
  position: relative;
  margin-top: 31px;
  width: 70.6%;
  flex-shrink: 0;
  height: calc(100% - 31px);
}

.page-extended-project .image {
  display: block;
  height: 100%;
  text-align: center;
}

.page-extended-project .media-loader__image-background {
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-extended-project .sidebar {
  position: relative;
  width: 26.6%;
  border-left: 3px solid;    
}

.page-extended-project .sidebar-content {
  padding-top: 33px;
  padding-left: 15px;
  height: calc(100% - 134px);
  overflow: auto;
}

.page-extended-project .links {
  display: flex;
  border-top: 3px solid;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 134px;;
}

.page-extended-project .link-container {
  font-size: 20px;
  text-align: center;
}

.page-extended-project .link-container p {
  font-size: 14px;
}

.page-extended-project .link-container:first-child {
  color: #cb0709;
  border-right: 3px solid #2d2d2d;
  width: 55.9%;
}

.page-extended-project .link-container:last-of-type {
  width: 44.1%;
}

.page-extended-project .prev {
  position: absolute;
  top: 50%;
  margin-top: -24px;
  left: 10px;
  z-index: 1;
}

.page-extended-project .next {
  position: absolute;
  top: 50%;
  margin-top: -24px;
  right: 10px;
  z-index: 1;
}

.page-extended-project .back {
  position: absolute;
  left: 50%;
  margin-left: -24px;
  bottom: 20px;
  z-index: 1;
}

.page-extended-project .next,
.page-extended-project .prev,
.page-extended-project .back {
  opacity: 0;
  transition: opacity 0.2s;
}

.page-extended-project .content:hover .next,
.page-extended-project .content:hover .prev,
.page-extended-project .content:hover .back {
  opacity: 0.75;
}

.page-extended-project .content .next:hover,
.page-extended-project .content .prev:hover,
.page-extended-project .content .back:hover {
  opacity: 1;
}

@media (max-width: 1188px) {
  .page-extended-project .g-container {
    min-height: 100vh;
  }
    
  .page-extended-project .container {
    height: auto;
    display: block;
  }
  
  .page-extended-project .next,
  .page-extended-project .prev {
    opacity: 1;
  }
  
  .page-extended-project .back {
    display: none;
  }
  
  .page-extended-project .content {
    width: 100%;
    height: calc(0.45 * 100vw + 31px);
  }
  
  .page-extended-project .sidebar {
    width: 100%;
    border-left: 0;
  }
  
  .page-extended-project .links {
    position: static;
    margin-top: 25px;
    height: auto;
  }
  
  .page-extended-project .link-container p {
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
  }
  
  .page-extended-project .sidebar-content {
    display: none;
  }
}

@media (max-width: 400px) {
  .page-extended-project .content {
    height: calc(0.55 * 100vw + 31px);
  }
}
/* </page-extended-project> */

/* <page-blog> */
.page-blog .header__link-page-blog {
  color: #cb0709;
}

.page-blog .container {
  display: flex;
  justify-content: space-between;
  height: 460px;
}

.page-blog .content {
  padding-top: 32px;
  width: 70.6%;
  flex-shrink: 0;
  padding-left: 9px;
  padding-right: 9px;
  height: 100%;
}

.page-blog .content-scroll {
  height: 100%;
  overflow: auto;
  padding-right: 10px;
}

.page-blog .content h1 {
  margin-top: 0;
}

.page-blog .content p {
  overflow: hidden;
  font-size: 20px;
}

.page-blog .sidebar {
  position: relative;
  width: 26.6%;
  border-left: 3px solid;    
}

.page-blog .sidebar-content {
  padding-top: 31px;
  padding-left: 31px;
  padding-right: 10px;
  height: calc(100% - 134px);
  overflow: auto;
}

.page-blog .links {
  display: flex;
  border-top: 3px solid;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 134px;
}

.page-blog .link-container {
  font-size: 20px;
  text-align: center;
}

.page-blog .link-container p {
  font-size: 14px;
}

.page-blog .link-container:first-child {
  color: #cb0709;
  border-right: 3px solid #2d2d2d;
  width: 55.9%;
}

.page-blog .link-container:last-of-type {
  width: 44.1%;
}

.page-blog .blog-post {
  display: flex;
  margin-bottom: 15px;
}

.page-blog .blog-post-image {
  flex-shrink: 0;
  width: 99px;
  min-height: 66px;
  margin-right: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.page-blog .blog-post h5 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 1.2;
}

@media (max-width: 1188px) {
  .page-blog .container {
    height: auto;
    display: block;
  }
  
  .page-blog .content {
    width: 100%;
  }
  
  .page-blog .sidebar {
    width: 100%;
    border-left: 0;
  }
  
  .page-blog .links {
    position: static;
    margin-top: 25px;
    height: auto;
  }
  
  .page-blog .link-container p {
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
  }
  
  .page-blog .sidebar-content:before {
    content: 'Read more articles';
    font-size: 32px;
    margin-bottom: 21px;
  }
  
  .page-blog .blog-post:first-child {
    margin-top: 21px;
  }
  
  .page-blog .sidebar-content {
    padding-left: 9px;
    padding-right: 9px;
  }
  
  .page-blog .blog-post {
    align-items: center;
  }
}
/* </page-blog> */

/* <popup> */
.popup {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 900px;
  width: 100%;
  background-color: white;
  min-height: 520px;
  -webkit-overflow-scrolling: touch;
  z-index: 100;
}

.popup__overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup__close svg {
  display: block;
  width: 35px;
  height: 35px;
}

.popup__close {
  position: absolute;
  right: 3px;
  top: 3px;
}

@media (max-height: 550px) {
  .popup {
    top: 50px;
    transform: translateX(-50%);
  }
}

@media (max-width: 1188px) {
  .popup {
    border: 0 !important;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: none;
    min-height: 0;
    overflow: auto;
    max-width: none;
  }
  
  .popup__close {
    position: absolute;
    right: 15px;
    top: 15px;
  }
  
  body.popup-opened {
    overflow: hidden;
  }
}
/* </popup> */

/* <popup-get-started> */
.popup-get-started {
  border: 14px solid #373737;
  padding: 45px 30px;
  padding-bottom: 10px;
}

.popup-get-started h1 {
  margin-top: 0;
  color: #c90e17;
  font-size: 56px;
  margin-bottom: 25px;
}

.popup-get-started textarea {
  height: 90px;
}

.popup-get-started__form-control {
  margin-bottom: 20px;
}

.popup-get-started__form-row {
  display: flex;
  justify-content: space-between;
}
  
.popup-get-started__one-third {
  width: 31%;
}

.popup-get-started__form-bottom {
  position: relative;
  padding-right: 115px;
}

.popup-get-started__logo {
  position: absolute;
  height: 90px;
  right: 0;
  top: 50px;
}

.popup-get-started__form-submit button {
  float: left;
}

.popup-get-started__form-submit {
  color: #c90e17;
  text-align: center;
  margin-top: 20px;
}

.popup-get-started__form-submit p {
  font-size: 20.5px;
}

.popup-get-started__form-submit small {
  position: relative;
  color: #2d2d2d;
  top: -5px;
  font-size: 11px;
}

@media (max-width: 820px) {
  .popup-get-started__form-row {
    display: block;
  }
  
  .popup-get-started__one-third {
    width: 100%;
  }
  
  .popup-get-started__form-submit p {
    visibility: hidden;
  }
}

@media (max-width: 540px) {
  .popup-get-started__form-bottom {
    padding-right: 0;
  }
  
  .popup-get-started__logo {
    display: none;
  }
}

@media (max-width: 500px) {
  .popup-get-started {
    padding: 45px 9px;
  }
}
/* </popup-get-started> */

/* <popup-get-started-thanks> */
.popup-get-started-thanks {
  border: 20px solid #373737;
  padding: 70px 90px;
  padding-bottom: 40px;
  line-height: 1.2;
}

.popup-get-started-thanks h1 {
  margin-top: 0;
  color: #2d2d2d;
  font-size: 56px;
  margin-bottom: 33px;
}

.popup-get-started-thanks textarea {
  height: 115px;
}

@media (max-width: 700px) {
  .popup-get-started-thanks {
    padding: 70px 7vw;
  }
  
  .popup-get-started-thanks h1 {
    font-size: 36px;
  }
}
/* </popup-get-started-thanks> */

/* <popup-how-we-can-help> */
.popup-how-we-can-help {
  border: 14px solid #373737;
  padding: 45px 30px;
  padding-bottom: 10px;
  line-height: 1.2;
}

.popup-how-we-can-help h1 {
  color: #2d2d2d;
  margin-bottom: 33px;
  text-align: center;
  font-size: 56px;
  margin-top: 46px;
  margin-bottom: 50px;
}

.popup-how-we-can-help textarea {
  height: 115px;
}

.popup-how-we-can-help__links {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
}
  
.popup-how-we-can-help__link {
  text-align: center;
}

.popup-how-we-can-help__link:hover .popup-how-we-can-help__link-title {
  color: #cb0709;
}
  
.popup-how-we-can-help__link-title {
  display: block;
  font-size: 80px;
  white-space: nowrap;
  transition: color 0.2s;
}

.popup-how-we-can-help__link-caption {
  color: #c90e17;
  font-size: 21px;
}
/* </popup-how-we-can-help> */

/* <popup-more-info> */
.popup-more-info {
  border: 14px solid #373737;
  padding: 45px 30px;
  padding-bottom: 40px;
  padding-bottom: 10px;
  line-height: 1.2;
}

.popup-more-info__content {
  text-align: center;
}

.popup-more-info h1 {
  color: #c90e17;
  margin-bottom: 33px;
  text-align: center;
  font-size: 83px;
  margin-top: 46px;
  margin-bottom: 75px;
  margin-bottom: 0;
}

.popup-more-info p {
  font-size: 21px;
}

.popup-more-info__form {
  max-width: 300px;
  margin: auto;
  margin-top: 45px;
}

.popup-more-info__form-submit {
  margin-top: 20px;
}
/* </popup-more-info> */

/* <popup-cutouts> */
.popup-cutouts {
  background-image: url('images/popup-cutouts-background.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center 0;
  background-color: white;
  border: 20px solid white;
  line-height: 1.2;
  text-align: center;
}

.popup-cutouts h1 {
  margin-bottom: 33px;
  text-align: center;
  font-size: 48px;
  margin-top: 21.5%;
}

.popup-cutouts h1 strong {
  color: #c90e17;
}

.popup-cutouts__title-upper {
  text-transform: uppercase;
  position: relative;
  top: -5px;
  font-size: 28px;
}

.popup-cutouts p {
  font-size: 27px;
}

.popup-cutouts__logo-container {
  padding-right: 10px;
}

.popup-cutouts__logo {
  height: 50px;
}

.popup-cutouts__bottom {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  color: white;
  background-color: #6c6c6c;
  padding-top: 15px;
  padding-bottom: 5px;
}

.popup-cutouts__bottom-caption {
  font-size: 13.5px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
}

.popup-cutouts__bottom-form-caption {
  font-size: 8px;
  margin-top: 7px;
  white-space: nowrap;
}

.popup-cutouts__bottom-form {
  white-space: nowrap;
}

.popup-cutouts__bottom input {
  background-color: white;
  border: 1px solid;
  border-radius: 5px;
  font-size: 17px;
  padding: 5px 8px;
  width: calc(100% - 145px);
}

.popup-cutouts__bottom-form-container {
  width: 43.5%;
}

.popup-cutouts__bottom-form button {
  font-size: 17px;
  padding-left: 26px;
  padding-right: 26px;
  margin-left: 6px;
}

@media (max-width: 820px) {
  .popup-cutouts {
    background-image: none;
  }
  
  .popup-cutouts__bottom {
    justify-content: space-between;
    padding: 20px 5px;
  }
  
  .popup-cutouts__bottom-caption {
    display: none;
  }
  
  .popup-cutouts__bottom-form-container {
    flex-grow: 1;
  }
  
  .popup-cutouts__logo-container {
    display: none;
  }
  
  .popup-cutouts__bottom-form-caption {
    white-space: normal;
  }
  
  .popup-cutouts__bottom-caption {
    display: none;
  }
}
/* </popup-cutouts> */

/* <popup-cutouts-thanks> */
.popup-cutouts-thanks {
  background-image: url('images/popup-cutouts-thanks-background.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center 0;
  background-color: white;
  border: 20px solid white;
  line-height: 1.2;
  text-align: center;
}

.popup-cutouts-thanks h1 {
  margin-bottom: 33px;
  text-align: center;
  font-size: 41px;
  margin-top: 21.5%;
  color: #c90e17;
}

.popup-cutouts-thanks__title-bottom {
  font-size: 21px;
  color: #2d2d2d;
  display: inline-block;
  margin-top: 4px;
}

.popup-cutouts-thanks__logo-container {
  padding-right: 10px;
  flex-shrink: 0;
  margin-left: 15px;
}

.popup-cutouts-thanks__logo {
  height: 50px;
}

.popup-cutouts-thanks__bottom {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  color: white;
  background-color: #6c6c6c;
  padding-top: 15px;
  padding-bottom: 5px;
}

.popup-cutouts-thanks__bottom-caption {
  font-size: 21px;
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
  padding-left: 53px;
}

@media (max-width: 820px) {
  .popup-cutouts-thanks {
    background-image: none;
  }
}
/* </popup-cutouts-thanks> */

/* <popup-more-info-thanks> */
.popup-more-info-thanks {
  border: 20px solid #373737;
  padding: 70px 90px;
  padding-bottom: 40px;
  line-height: 1.2;
}

.popup-more-info-thanks h1 {
  margin-top: 0;
  color: #2d2d2d;
  font-size: 56px;
  margin-bottom: 33px;
}

.popup-more-info-thanks p {
  font-size: 38px;
}
/* </popup-more-info-thanks> */

/* <popup-exit> */
.popup-exit {
  border: 14px solid white;
  padding: 70px 90px;
  padding-bottom: 40px;
  line-height: 1.2;
  background-image: url('images/popup-exit-background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
  padding-top: 55px;
  padding-left: 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.popup-exit__content {
  position: relative;
}

.popup-exit .popup__close svg path {
  fill: white;
}

.popup-exit h1 {
  margin-top: 15px;
  font-size: 54px;
  margin-bottom: 23px;
}

.popup-exit .popup-exit__content > p {
  font-size: 14.5px;
  padding-right: 55px;
  line-height: 1.3;
}

.popup-exit__content {
  width: 60%;
}

.popup-exit__arrow {
  width: 220px;
  position: absolute;
  top: 36%;
  right: -100px;
}

.popup-exit strong {
  margin: 5px 0;
  display: block;
  font-size: 19px;
  color: #2d2d2d;
}

.popup-exit input {
  background-color: white;
  border-bottom: 0;
  font-size: 25px;
  padding-top: 6px;
  padding-bottom: 2px;
  padding-left: 5px;
}

.popup-exit__form {
  width: 55%;
  margin: auto;
  margin-top: 30px;
  margin-left: 80px;
}

.popup-exit__form p {
  font-size: 11px;
  text-align: left;
  margin-top: 16px;
}

.popup-exit__caption {
  position: absolute;
  bottom: 10px;
  right: 31%;
  font-size: 13px;
  text-align: right;
}

.popup-exit__logo {
  position: absolute;
  bottom: 10px;
  right: 10px;
  height: 80px;
}
  
@media (max-width: 1188px) {
  .popup-exit, .popup__overlay {
    display: none !important;
  }
}
/* </popup-exit> */

/* <popup-exit-thanks> */
.popup-exit-thanks {
  border: 14px solid white;
  padding: 70px 90px;
  padding-bottom: 40px;
  line-height: 1.2;
  background-image: url('images/popup-exit-background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
  padding-top: 15px;
  padding-left: 30px;
  text-align: left;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.popup-exit-thanks__content {
  position: relative;
}

.popup-exit-thanks .popup__close svg path {
  fill: white;
}

.popup-exit-thanks h1 {
  margin-top: 15px;
  font-size: 54px;
  margin-bottom: 23px;
}

.popup-exit-thanks h1 img {
  position: relative;
  width: 70px;
  margin-left: 10px;
  top: 12px;
}

.popup-exit-thanks h2 {
  font-size: 41.5px;
  margin-top: -10px;
}

.popup-exit-thanks .popup-exit-thanks__content > p {
  position: relative;
  font-size: 14.5px;
  padding-right: 55px;
  line-height: 1.3;
  padding-left: 145px;
  margin-top: 35px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.popup-exit-thanks .popup-exit-thanks__content > p > img {
  position: absolute;
  left: 0px;
  top: 14px;
  width: 125px;
  top: 50%;
  transform: translateY(-50%);
}

.popup-exit-thanks strong {
  color: #2d2d2d;
}

.popup-exit-thanks__caption {
  position: absolute;
  bottom: 10px;
  right: 31%;
  font-size: 13px;
  text-align: right;
}

.popup-exit-thanks__logo {
  position: absolute;
  bottom: 10px;
  right: 10px;
  height: 80px;
}

@media (max-width: 1188px) {
  .popup-exit-thanks, .popup__overlay {
    display: none !important;
  }
}
/* </popup-exit-thanks> */

/* <loader> */
.loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: white;
  display: flex;
  z-index: 10000000;
}

.loader img {
  margin: auto;
  max-width: 40%;
}

body.browser-edge .loader img,
body.browser-ie .loader img {
  width: 300px;
  height: 300px;
}
/* </loader> */

/* <select> */
.select {
  position: relative;
}

.select select {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
}
/* </select> */

/* <media-loader> */
.media-loader {
  position: relative;
}

.media-loader__image-background,
.media-loader__video {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s;
}

.media-loader__loader {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  transform: translate(-50%, -50%);
  background-image: url('images/spinner.gif');
  background-position: center;
  background-size: contain;
}

.media-loader__loading .media-loader__loader {
  display: block;
}

.media-loader__loaded .media-loader__video,
.media-loader__loaded .media-loader__image-background {
  opacity: 1;
}
/* </media-loader> */


/* <perfect-scrollbar> */
.perfect-scrollbar {
  position: relative;
}

.ps > .ps__scrollbar-y-rail {
  opacity: 0.6 !important;
}
/* </perfect-scrollbar> */

/* <links> */
.links {
  flex-wrap: wrap;
}

.links .link-container p {
  margin-bottom: 4px;
}

.links .link-container a {
  margin-bottom: 3px;
}

.links__email-container {
  width: 100%;
  text-align: center;
  border-top: 3px solid #2d2d2d;
  height: 35px;
  line-height: 35px;
  transition: color 0.2s;
}

.links__email-container:hover {
  color: #cb0709;
}

@media (max-width: 1188px) {
  body:not(.page-contact) .links {
    flex-wrap: nowrap;
    border-bottom: 0;
  }
  
  body:not(.page-contact) .links__email-container {
    display: none;
  }
}
/* </links> */
